#pokemons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pokemon {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
    width: 150px;
  }
  
  .name {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
  }
  
  .type {
    color: gray;
  }
  